<footer>
  Hier steht Footer-Zeugs.
  <section>
    <h4>Footer Navigation</h4>
    <nav>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        Home
      </a>
      <a
        routerLink="/team"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Team
      </a>
      <a
        routerLink="/training"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Training
      </a>
      <a
        routerLink="/sponsoring"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Sponsoring
      </a>
      <a
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Kontakt
      </a>
      <a
        routerLink="/impressum"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Impressum
      </a>
      <a
        routerLink="/privacy"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Datenschutz
      </a>
    </nav>
  </section>
  <section>
    <h4>Kontakt</h4>
    <a href="mailto:info@nuernberg-renegades.de">Mail</a>
  </section>
  <section>
    <h4>Social Media</h4>
    <button type="button" aria-label="Open Facebook: Nürnberg Renegades Page">
      FB Icon
    </button>
    <button type="button" aria-label="Open Instagram: Nürnberg Renegades Page">
      IG Icon
    </button>
  </section>
</footer>
