<header>
  <h1 class="sr-only">Nuernberg Renegades</h1>
  <img
    src="https://sojbecommfeabelnhqjt.supabase.co/storage/v1/object/public/images/Logo_Header.png"
    alt="Nuernberg Renegades Logo. Ein Football mit dem Schriftzug 'Nürnberg Renegades'"
  />
  <nav>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
    <a routerLink="/team" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Team</a
    >
    <a
      routerLink="/training"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Training</a
    >
    <a
      routerLink="/sponsoring"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Sponsoring</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Kontakt</a
    >
  </nav>
</header>
