<header>
  <div class="filler"></div>
  <div class="image-wrapper">
    <img
      class="logo"
      fetchpriority="high"
      height="auto"
      width="124"
      src="https://sojbecommfeabelnhqjt.supabase.co/storage/v1/object/public/images/logo-renegades-avatar.png"
      alt="Nürnberg Renegades Logo. Ein Football mit dem Schriftzug 'Nürnberg Renegades'"
    />
  </div>
  <div class="filler"></div>

  <h1>Nürnberg Renegades e.V.</h1>
  <nav [ngClass]="menuIsOpen ? 'mobile-open' : 'mobile-closed'">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
    <a routerLink="/team" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Team</a
    >
    <a
      routerLink="/training"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Training</a
    >
    <a
      routerLink="/sponsoring"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Sponsoring</a
    >
    <a
      routerLink="/contact"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Kontakt</a
    >
  </nav>
  <button
    type="button"
    aria-label="Open Navigation"
    class="mobile-only"
    (click)="toggleMobileNavigation()"
  >
    Open Navigation
  </button>
</header>
